body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  
}
.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: 600px;
    display: flex;
    flex-direction: column;
   border-radius: 8px;
    align-items: center;
    justify-content: center;
   
}
form{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 50%;
     margin-top: 50px;
}
form input{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button{
    padding: 10px;
    width: 18%;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover{
    background: #218838;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #ccc dotted;
    gap: 30px;
}
li button{
    background: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}